body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.menu-toggle {
    font-size: 30px;
    margin: 10px;
    cursor: pointer;
}

.side-menu {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #333;
    transition: 0.3s;
    padding-top: 60px;
    z-index: 1;
}

.side-menu ul {
    list-style-type: none;
    padding: 0;
}

.side-menu li {
    padding: 15px;
}

.side-menu a {
    color: white;
    text-decoration: none;
    display: block;
}

.side-menu .close-btn {
    font-size: 30px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

.open {
    left: 0;
}

.action-button {
    border: none;
    display: flex;
    padding: 0.75rem 1.5rem;
    background-color: #488aec;
    color: #ffffff;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    user-select: none;
    gap: 0.75rem;
    box-shadow: 0 4px 6px -1px #488aec31, 0 2px 4px -1px #488aec17;
    transition: all 0.6s ease;
  }
  
  button:hover {
    box-shadow: 0 10px 15px -3px #488aec4f, 0 4px 6px -2px #488aec17;
  }
  
  button:focus,
  button:active {
    opacity: 0.85;
    box-shadow: none;
  }
  
  button svg {
    width: 1.25rem;
    height: 1.25rem;
  }

  .button-image-1 {
    height: 20px;
    width: 20px;
  }

  .button-image-2 {
    height: 18px;
    width: 22px;
  }

  .div{
    margin: 30px;
    margin-top: 40px;
  }


  footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #0A0826;
  }
footer h3{
    color: #FFF;
margin-bottom: 5px;
font-family: 'Poppins';
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
footer h5,p{
    margin-bottom: 5px;
    color: var(--Text-Gray-300, #D9DBE1);

font-family: 'Manrope';
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 171.429% */
}
footer p{
    margin-bottom: 17px;
}

 footer i{
    margin-right: 16px;
    color: #FFF;
    font-size: 25px;
 }



.non-design-p {
  color: black;
  font-size: 18px;
}

.non-design-h3-footer-1 {
  text-decoration: none;
  color: white;
}


.box{
    


  margin-bottom: 10px;  
  
  margin-left: 10px;

  margin-right: 10px;

  margin-top: 30px;
  
  }
  .card-box-about{
      
  width: 329px;
  height: 100px;
  
  background: #FFF;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  
  padding: 17px 0px 0px 18px ;
  
  }


  .card-box{
      
    width: 210px;
    height: 235px;
    
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    
    padding: 17px 0px 0px 18px ;
    
    }